*{
    font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* border: 1px solid; */
}

body {
    background-color: #F3F4F6;
}

/* Header */

header{
    background-image: url(/img/bg-poliban.jpg);
    height: 101vh;
    background-size: cover;
    background-position: center;
    margin-top: -10vh;
    padding-top: 10vh;
}

nav .navbar-brand{
    font-weight: bold;
}

.bg-opacity-25 {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.title-header {
    height: 40vh;
    /* height: 30vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle-header {
    font-weight: bold;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Main */

.value-card i {
    font-size : 40px;
}

.informasi p {
    font-size: 14px;
}

/* Footer */

.sosmed .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 9px;
}

.sosmed i{
    font-size: 21px;
}

.anggota h5 {
    margin-top: 24px;
    margin-bottom: 0;
}

/* Footer */

footer a .icon {
    transition: opacity 0.3s ease;
  }

footer a .icon:hover {
    opacity: 0.8;
}

footer a:hover{
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

footer ul li a {
    color: #6c757d;
}

footer ul li a:hover {
    color: rgb(181, 0, 0);
}